
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


<center>
    <div class="mainForm">

        <h1 class="mainTitle">Eatr</h1>
        <h3>An App to Help You Find a Place to Eat</h3>
        <br /><br /><br />
        <button class="optionButton">@Html.ActionLink("Lets Eat!", "Search", "Home")</button>


         <br /><br /><br />
    </div>
</center>

