@{
    ViewData["Title"] = "Home Page";
}
@model Eatr.Models.YelpApi



<center>
    <div class="mainForm">

        <h2>Eatr</h2>

        <label>How many people?</label>
        <input type="type" name="name" value="" /><br />

        <label>How Much do you want to spend?</label>
        <input type="type" name="name" value="" /><br />

        <label>What kind of food?</label>
        <input type="type" name="name" value="" /><br />

        <label>How Many People?</label>
        <input type="type" name="name" value="" /><br />

        <label>How Many People?</label>
        <input type="type" name="name" value="" /><br />

        



    </div>

</center>