@{
    ViewData["Title"] = "Home Page";
}
@model Eatr.Models.YelpApi


<center>

        <div class="test">
            <h3 class="text-center project-title text-capitalize">@Model.name</h3>
            @*<a class="btn btn-info" target="_blank" href="@repo.Html_Url">Take me to github!</a> <br />
                <h5>@repo.Description</h5>*@
            <br /><br />
            <br />
        </div>

</center>