
@model Eatr.Models.YelpApi

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


<center>
    <div class="mainForm">
        <h2>Eatr</h2>
        @using (Html.BeginForm())
    {
        <label>Alcohol Preference</label><br />
        <select id="leadType" class="box2" name="lead_type">
            <option value="1">No Alcohol</option>
            <option value="2">Happy Hour</option>
            <option value="3">Full Bar</option>
            <option value="3">No Preference</option>
        </select><br />
        <br /><br /><br /><br />
        @*<input type="submit" value="Lets Eat" />*@
}
        <button class="optionButton">@Html.ActionLink("Next", "Param8", "Home")</button>
        <button class="optionButton">@Html.ActionLink("Previous", "Param6", "Home")</button>
        <button class="optionButton">@Html.ActionLink("Start Over", "Index")</button>
        <button class="optionButton">@Html.ActionLink("Lets Eat!", "Result", "Home")</button>
        <br /><br />
    </div>

</center>

