
@model Eatr.Models.YelpApi

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


<center>
    <div class="mainForm">

        <h2>Eatr</h2>

        <label>Use Current Location?</label><br />

        <script>
            var x = document.getElementById("demo");

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function showPosition(position) {
                x.innerHTML = "Latitude: " + position.coords.latitude +
                    "<br>Longitude: " + position.coords.longitude;
            }
        </script>


        <button class="geoButton" onclick="getLocation()">Yes</button>

        <p id="demo"></p>


        <h4>Or</h4>
        @using (Html.BeginForm())
    {
        <label>Enter your Zip Code </label><br />
        <input type="text" placeholder="  "> 

        <br /><br /><br /><br />
        @*<input type="submit" value="Lets Eat" />*@
}
        <button class="optionButton">@Html.ActionLink("Next", "Param1", "Home")</button>
        <button class="optionButton">@Html.ActionLink("Previous", "Param1", "Home")</button>
        <button class="optionButton">@Html.ActionLink("Start Over", "Index")</button>
        <button class="optionButton">@Html.ActionLink("Lets Eat!", "Result", "Home")</button>

        <br /><br />    
    </div>

</center>

